body {
    background-color: #f0f0f0;
    background-image: url('images/bg-paper.png'); /* Replace 'images/background-pattern.jpg' with your image path */
    background-repeat: repeat;    
    background-attachment: fixed; /* Change to 'fixed' for a fixed background */

    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-weight: 200;   
    letter-spacing: 3px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    /* Apply flexbox layout to center its child elements horizontally */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Align items vertically (optional) */
    height: 250px; /* Adjust this value as needed */
}

header h1 {
    margin: 0;
    padding: 0;
}

header img {
    width: auto;
    /* Set the height to a fixed value */
    height: 80px; /* Adjust this value as needed */
    /* Ensure the image maintains its aspect ratio */
    object-fit: cover;
}

main {
    padding: 20px 0;
    text-align: center;
}

a {
    color: #EA657C; /* Change to the desired hex code */
    text-decoration: none;
}